/* ------------------------------1024px------------------------------- */
@media screen and (max-width: 1366px) {
	/* Header */
	.header {
		padding: 33px 0 22px 0;
	}

	.header__content {
		justify-content: center;
		flex-wrap: wrap;
		gap: 33px;
	}

	.header__list {
		order: 2;
		margin: 0;
		gap: 105px;
	}

	/* Fullscreen */

	.fullscreen__content {
		justify-content: center;
		gap: 30px;
	}

	.fullscreen_desc {
		margin-bottom: 20px;
	}

	.fullscreen__microphone {
		background-image: url(../img/microphone.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left center;
		max-width: 341px;
		min-height: 305px;
		background-size: contain;
		bottom: 30px;
		left: 56px;
	}

	/* Плейлисты */

	.playlists__card {
		display: flex;
	}

	.arthist__card {
		height: 50%;
		justify-content: center;
	}

	/* About */

	.about_img {
		display: none;
	}

	.about_img-2::before {
		left: 30px;
		max-width: 390px;
	}
}

/* With us */

/* ------------------------------768px------------------------------- */

@media screen and (max-width: 992px) {
	/* About */
	.about_img {
		display: block;
	}
}
/* ------------------------------320px------------------------------- */

@media screen and (max-width: 767px) {
}

/* Custom media */

/* ✅ Чтобы переместить меню на 320 как в макете, 
используйте свойство order чтобы поместить его после поиска 
и для меню пропишите width: 100%: а для родителя 
flex-wrap: wrap; */
